# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.zip

# Test binary, built with `go test -c`
*.test

# IDE and debug files
__debug*
.vscode
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# OS metadata
thumbs.db
desktop.ini
.DS_Store
/bin/
